
[%%%cn%%%]
   comment = %%%emssharecfgcomment%%%
   path = %%%emssharepath%%%
   browseable = %%%emssharecfgbrowseable%%%
   writable = %%%emssharecfgwriteable%%%
   create mask = %%%emssharecfgcreatemask%%%
   directory mask = %%%emssharecfgdirmask%%%
   read only = %%%emssharecfgreadonly%%%
   guest ok = %%%emssharecfgguestok%%%

